@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');
@import "tailwindcss";



* {
  box-sizing: border-box;
}
:root {
  --my-color: #6f6969;
}

body {
    background:linear-gradient(rgba(8, 4, 4, 0.7), rgba(11, 8, 8, 0)),
    url("/images/horror-5233620_1920.jpg");
  background-repeat: no-repeat;
  background-size: cover;  
  background-position: center;  
  background-attachment: fixed;  
  min-height: 100vh;
  color: whitesmoke;
}

h1 {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 853px)  {
.my-class {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .my-class-list {
    text-align: center;
  }
}
